@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
	--color1: #f37920;
	--color2: #33c2df;
	--swiper-theme-color: #f37920 !important;
	--swiper-scrollbar-bg-color: rgba(243, 121, 32, 0.6) !important;
	--swiper-scrollbar-drag-bg-color: #f37920 !important;
	--swiper-scrollbar-size: 8px !important;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-color1: var(--color1);
	--color-color2: var(--color2);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-lato: var(--lato);
	--swiper-pagination-color: var(--swiper-theme-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.map-marker::after {
	content: "";
	position: absolute;
	bottom: -73px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 68px solid transparent;
	border-right: 68px solid transparent;
	border-top: 100px solid #33c2df;
}

.swiper-thumbs {
	margin-left: 0px !important;
}
