@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color1: #f37920;
  --color2: #33c2df;
  --swiper-theme-color: #f37920 !important;
  --swiper-scrollbar-bg-color: rgba(243, 121, 32, 0.6) !important;
  --swiper-scrollbar-drag-bg-color: #f37920 !important;
  --swiper-scrollbar-size: 8px !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-color1: var(--color1);
  --color-color2: var(--color2);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--lato);
  --swiper-pagination-color: var(--swiper-theme-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant 3xl {
  @media (width > 1800px) {
    @slot;
  }
}

@custom-variant xsm {
  @media (width > 500px) {
    @slot;
  }
}

.map-marker::after {
  content: "";
  position: absolute;
  bottom: -73px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 68px solid transparent;
  border-right: 68px solid transparent;
  border-top: 100px solid #33c2df;
}

#nav-icon1 {
  width: 50px;
  height: 35px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 15px;
}

#nav-icon1 span:nth-child(3) {
  top: 30px;
}

#nav-icon1.open span:nth-child(1) {
  top: 16px;
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 16px;
  transform: rotate(-135deg);
}

.swiper-thumbs {
  margin-left: 0px !important;
}

@media (max-width: 1535px) {
  .map-marker::after {
    bottom: -73px;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-top: 100px solid #33c2df;
  }
}

@media (max-width: 1279px) {
  .map-marker::after {
    bottom: -73px;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-top: 90px solid #33c2df;
  }
}
